$bg-color: hsl(0deg 0% 92.55%);
$text-color: hsl(0deg 0% 40%);
$main-color: hsl(207, 90%, 54%);
$main-color-alt: hsl(207, 81%, 48%);
$footer-color: lighten($text-color, 30%);
$main-transition: 0.3s;
$main-padding: 100px;
