@use "../../../assets/styles/abastract/" as *;

.video {
  &Player {
    display: grid;
    place-items: center;
    position: relative;
    color: white;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      background: linear-gradient(to top, rgb(black, 0.75), transparent);
      aspect-ratio: 6 / 1;
      opacity: 0;
      transition: $main-transition;
      pointer-events: none;
    }
    &.pause {
      &::after {
        opacity: 1;
      }
      .videoPlayer__container {
        transform: translateY(0);
      }
    }
    &__container {
      position: absolute;
      bottom: 0;
      z-index: 100;
      width: 100%;
      transform: translateY(100%);
      transition: transform $main-transition ease-in-out;
    }
    &:focus-within,
    &:hover {
      &::after {
        opacity: 1;
      }
      .videoPlayer__container {
        transform: translateY(0);
      }
    }
  }
  &__controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem;
    &__time {
      font-size: clamp(0.8rem, 3vw, 1.1rem);
      margin-right: auto;
    }
    &--btn {
      width: clamp(20px, 3vw, 30px);
      color: white;
    }
  }
}
